*{
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    height: 65px;
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo {
    height: 57px;
    width: 153px;
}
.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
    cursor: pointer;
}
.logo {
    background-image: url('Images/Capture.PNG');
    height: 45px;
    background-size: cover;
    width: 91%;
}
.logo {
    transform: translate(10px, 10px);
}
/* Box 2 */
.add-icon {
    display: flex;
    align-items: center;
    margin-left: 3px;
}
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 18px;
}
.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}
/* Box 3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}
.nav-search:hover {
    border: 2px solid orange;
}
/* Box 4 */
span {
    font-size: 0.7rem;
}
.nav-sec {
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i {
    font-size: 30px;
}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}
/* Panels */
.panel {
    height: 40px;
    color: white;
    background-color: #222f3d;
    opacity: 0.95;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}
.panel-ops p {
    display: inline;
    margin-left: 15px;
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}
/* Hero Section */
.hero-section {
    background-image: url('Images/CGL21_A009_OwnerViewHeader_GenderNeutralGifting_421.jpg');
    width: 100%;
    height: 300px;
    background-size: cover;
    position: relative;
}
.hero-section-text {
    width: 50%;
    background-color: white;
    border-radius: 15px;
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
    position: absolute;
    top: 90%;
    left: 20%;
}
.hero-section-heading {
    font-size: 28px;
    color: #0F1111;
    text-align: center;
}
.hero-section-description {
    font-size: 18px;
    color: #0F1111;
    text-align: center;
    margin-left: 7%;
}
.hero-section-btn {
    font-size: 13px;
    padding: 10px;
    color: #0F1111;
    background-color: yellow;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid yellow;
    margin-left: 35%;
    margin-top: 20px;
}
/* gift Lists */
.gift-list {
    margin-top: 12%;
}
.gift-list-heading {
    font-size: 24px;
    color: #0F1111;
    text-align: center;
}
.gift-list-details {
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    }
.gift-list-details-text {
    margin-top: -5px;
    margin-bottom: 5px;
    background-color:white;
    padding: 18px;
    padding-right: 18px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.gift-list-details-text a {
    list-style: none;
    text-decoration: none;
    color: #0F1111;
}
/* gift Request Section */
.gift-request-section {
    margin-top: 20px;
}
.gift-request-section img {
    width: 100%;
}
.gift-registry-benefit {
    margin: 24px;
}
.gift-registry-heading {
    color: #0F1111;
    font-size: 24px;
    text-align: center;
}
 .gift-registry-benefit-options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gift-registry-icons {
    width: 16%;
}
.gift-registry-icons img {
    width: 33%;
    transform: translate(97%, 0);
}
.gift-registry-section-text {
    margin-top: 12px;
}
.gift-registry-heading-section {
    color: #0F1111;
    font-size: 12px;
    text-align: center;
}
.gift-registry-description {
    font-size: 14px;
    color: #0F1111;
    text-align: center;
}
/* Footer Section */
.footer-section {
    margin-top: 24px;
    padding-bottom: 40px;
    width: 100%;
    background-color: #232F3E;
}
.top-footer-section {
    padding: 15px 0;
    background-color:#2C3848;
}
.top-footer-heading {
    font-size: 0.85rem;
    color: white;
    text-align: center;
}
.top-footer-section:hover {
    background-color: #4D5B70;
    cursor: pointer;
}
.footer-list-section {
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-list-heading {
    margin-bottom: 14px;
    color: white;
    font-size: 1rem;
    text-align: left;
}
.footer-lists li a,
 .footer-lists li{
    margin-bottom: 14px;
    color: #DDDDDD;
    list-style: none;
    text-decoration: none;
    font-size: 0.85rem;
}
.footer-lists li a:hover {
    cursor: pointer;
    border-bottom: 1px solid #DDDDDD;
}
.footer-list-1 {
    margin-bottom: 4%;
}
.footer-list-3 {
    margin-bottom: 8%;
}
.footer-line {
    margin-top: 40px;
    border-top: 1px solid white;
    opacity: 0.7;
}
/* Responsive Section */
@media screen and (max-width: 1024px) {
    .nav-search {
        width: 430px;
    }
    .gift-list {
        margin-top: 17%;
    }
    .gift-list-details {
        gap: 20px;
    }
    .gift-list-details-img {
        width: 33%;
    }
    .gift-list-details-img img {
        width: 100%;
    }
    .gift-list-details-text a {
        font-size: 0.80rem;
    }
}
@media screen and (max-width: 800px) {
    .nav-search {
        width: 260px;
    }
    .hero-section-heading {
        font-size: 24px;
    }
    .hero-section-description {
        font-size: 16px;
    }
    .gift-list-details {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-list-section {
        padding-left: 10px;
    }
    .footer-list-3 {
        margin-bottom: 13%;
    }
}
@media screen and (max-width: 768px) {
.nav-search {
    width: 210px;
}
.search-input {
    font-size: 0.8rem;
}
.hero-section-heading {
    font-size: 20px;
}
.hero-section-description {
    font-size: 15px;
}
.panel {
    padding-left: 25px;
    padding-right: 6px;
}
.gift-registry-benefit-options {
    gap: 20px;
}
}
/* Amazon Web page cloning and responsive end */
/* Another Webpage cloning and responsive start */
.main {
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0, 0, 0, 0.5)50%),url('Images/pexels-pixabay-268533.jpg');
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar-2 {
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon {
    width: 200px;
    float: left;
    height: 70px;
}
.logo-2 {
    color: #ff7200;
    font-size: 35px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu {
    width: 400px;
    float: left;
    height: 70px;
}
.unordered-list {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-2 {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
.list-2 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.list-2 a:hover {
    color: #ff7200;
    border-bottom: 1px solid #ff7200;
}
.search-bar {
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn {
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.btn:focus {
    outline: none;
}
.srch:focus {
    outline: none;
}
.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .par {
    padding-bottom: 25px;
    padding-left: 20px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content .cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease ease-in-out;
}
.content .cn a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
}
.cn:hover {
    background-color: #fff;
}
.cn:hover a {
    color: #0F1111;
}
.content span {
    color: #ff7200;
    font-size: 60px;
}
.form {
    width: 250px;
    height: 400px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form-input:focus {
    outline: none;
}
::placeholder {
    color: #fff;
    font-family: Arial;
}
.cn-2 {
    margin-top: 30px;
}
.form .link-2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 17px;
   padding-top: 20px;
   text-align: center;
}
.form .link-2 a {
    text-decoration: none;
    color: #ff7200;
}
.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icon-2 a {
    text-decoration: none;
    color: #fff;
}
.fa-brands {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.fa-brands:hover {
    color: #ff7200;
}
/* Another Web Design Complete */
/* Number 3 Interior Design */
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75)),url('Images/interior-modern-cozy-living-room-gray-tones-corner-sofa-with-pillows-coffee-table-plant-floor-pot-carpet-floor-trendy-pendant-lights-modern-home-decor-mockup-3d-rendering_124865-24709.jpg');
    background-size: cover;
    background-position: center;
}
.navbar-3 {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-3 {
    width: 136px;
    cursor: pointer;
}
.navbar-3 ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar-3 ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s ease-in;
}
.navbar-3 ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s ease-in-out;
}
.navbar-3 ul li:hover:after {
    width: 100%;
}
.content-interior {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content-interior h1 {
    font-size: 70px;
    margin-top: 80px;
}
.content-interior p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.content-interior-btn button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.content-interior-btn button span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.content-interior-btn button:hover span {
    width: 100%;
}
.content-interior-btn button:hover {
    border: none;
}
/* Interior Design Complete */
/* Number 4 Travel Website */
.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)),url('Images/background.png');
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar-4 {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo-4 {
    width: 50px;
    cursor: pointer;
}
.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease-in-out;
}
nav ul li a:hover {
    border-bottom: 1px solid #fff;
}
.row {
    display: flex;
    height: 88%;
    align-items: center;
}
.col {
    flex-basis: 50%;
}
.col h1 {
    color: #fff;
    font-size: 100px;
}
.col p {
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
.col button {
    width: 180px;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #fff;
    margin-top: 30px;
    outline: none; 
    cursor: pointer;  
}
.col button:hover {
    background-color: #F0E68C;
    color: #CC7722;
    border: 1px solid #B7410E;
}
.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease-in-out;
}
.card1 {
background-image: url('Images/Desert Webpage Img/pic-1.png');
}
.card2 {
background-image: url('Images/Desert Webpage Img/pic-2.png');
}
.card3 {
background-image: url('Images/Desert Webpage Img/pic-3.png');
}
.card4 {
background-image: url('Images/Desert Webpage Img/pic-4.png');
}
.card:hover {
    transform: translateY(-10px);
}
.card h5 {
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p {
    padding-top: 10px;
    text-shadow: 0 0 5px #999;
    font-size: 8px;
}